body{
    min-width: 960px;
    font-size: 14px;
    font-family: -apple-system-font, "Helvetica Neue",Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;
    line-height: 20px;
    /*background-color: rgba(115, 115, 115, 0.64);*/
}

a, a:active, a:focus{
    color: #f37327;
    text-decoration: none;
}
a:hover{
    color: #f37327;
    text-decoration: none;
}

.ml10{
    margin-left: 10px !important;
}

.mr30{
    margin-right: 30px;
}
.mt100{
    margin-top: 100px;
}

.mt10{
    margin-top:10px !important;
}

.mt30{
    margin-top:30px !important;
}

/*导航栏*/
.nav{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    /*background-color: #f37327;*/
    border: 1px solid rgba(243, 115, 39, 0.15);
    border-radius: 3px;
    -webkit-box-shadow: inset 1px 1px 3px whitesmoke;
    -moz-box-shadow: inset 1px 1px 3px whitesmoke;
    box-shadow: inset 1px 1px 3px whitesmoke;
}

.nav .list-inline{
    float: left;
}

.nav .list-inline li{
    font-size: 16px;
    vertical-align: middle;
    margin:0 10px;
    color: #f37327;
}

.nav .list-inline .home i{
    font-size: 25px;
    margin-right: 10px;
    color: #f37327;
}

.nav .list-inline li.active{
    background: black;
}

.nav .list-inline li.active i{
    color: #f37327;
}

.nav div{
    padding: 3px;
}

.nav div a{
    padding: 10px;
    vertical-align: middle;
}

.nav div a:hover{
    width: 100%;
    height: 100%;
    background: #aeaeae;
    color: #f37327;
}

/*内容主体*/
.container{
    margin-top: 60px;
    padding: 30px;
    /*color: #f0f0f0;*/
}

table{
    text-align: left;
}

.table-hover>tbody>tr:hover,.table-hover>tbody>tr.active>td{
    color: whitesmoke;
    background-color: #cccccc;
}

/*picker*/
.dropdown-menu{
    color: black;
    width: 100%;
    margin-bottom: 60px;
    padding: initial;
}

.dropdown-menu table{
    width: 100%;
}

/**/
.weektime{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.weektime span{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.weektime .fa{
    vertical-align: middle;
}

/**/
.row .btn{
    color: #808080;
}
.row .btn:hover{
    color: #000;
}

/*分页*/
.pagination{
    font-size:12px;
}

.growl { top: 50px; z-index: 9999; left: 50%; margin-left: -125px; font-size: 14px; }
.growl .alert { padding: 10px; text-align: center; }
.growl .alert-success .close { display: none; }

/* ui-bootstrap */
[datepicker] { padding: 4px; }
[datepicker] table { outline: none !important; }
[datepicker] thead tr:last-child th { padding: 6px 0; }
[datepicker] th, [datepicker] td { border: 1px solid #ccc; }
[datepicker] .btn { min-width: 0; border: none; background: #fff; box-shadow: none; border-radius: 0 !important; }
[datepicker] .btn.active { background: #0044cc; background-image: -webkit-linear-gradient(top, #0088cc, #0044cc); }
[datepicker] .btn.active .text-info { color: #fff; }
.datetimepicker { padding: initial; }
.datetimepicker table { width: 100%; }
.datetimepicker th, .datetimepicker td { padding: 5px 10px 6px !important; border: 1px solid #ccc !important; border-radius: 0 !important; }
.dayactive { background: #0044cc; }